
.servicios{
    color: inherit;
    text-decoration: none;
}

.servicios:hover{
    color: inherit;
}

.active{
    color: #fff;
}

.navbar-collapse{
    overflow: hidden;
}

@keyframes visible {
    from {
      opacity: 0;
      height: 0px;
    }
  
    to {
      opacity: 1;
      height: 160px;
    }
  
  }
  
